@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.app-wrapper{
}

.input-group, .go-btn{
    margin-top:10px;
    margin-bottom:10px;
}

.alert{
    padding: 20px;
    text-align: center;
}

.header{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}

.searchSection{
    padding-top: 10px;
    padding-bottom: 10px;
}
