@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.app-wrapper{
}

.header{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}

.searchSection{
    padding-top: 10px;
    padding-bottom: 10px;
}
